{% extends "sidebar.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

<div class = "container">

<h3>Contact Messages: </h3>
<br> 

<table border="1" class = "fancy-table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
    <th>Date</th>
  </tr>

  {% for c in contacts %}
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.message }}</td>
    <td>{{ c.created_at }}</td>
  </tr>
  {% endfor %}
</table>

<br> <br> <br> <br>

<a href="{{ url_for('admin.logout') }}">Logout</a>
</div>


{% endblock %}